<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DependenSees</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link href="assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
            <style>
            footer {
                height: 60px;
                background-color: rgb(245, 245, 245);
            }

            #credit {
                margin: 20px 0;
            }
            </style>
        {% endblock stylesheets %}
    </head>
    <body>
        {% block header %}
            <header>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">DependenSees <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock header %}
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% block footer %}
            <footer>
                <div class="container">
                    <p class="text-muted" id="credit">
                        DependenSees {{ version }} written by <a href="http://florentviel.com" target="_blank">Florent Viel</a>
                    </p>
                </div>
            </footer>
        {% endblock footer %}
        {% block javascripts %}
            <script src="assets/jquery/jquery.min.js"></script>
            <script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
        {% endblock javascripts %}
    </body>
</html>
